html, body 
{
    background-color:#202225;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    font-family:tahoma;
}

/* HEADER */

#header
{
    background-color:black;
    height:90px;
    width:100%;
    position:fixed;
    display:block;
    z-index:9;
	box-shadow:0px 5px 10px;
}

.button_header_menu
{
    text-align:center;
    background-color:black;
    width:300px;
    height:90px;
    cursor:pointer;
    color:white;
    font-size:30px;
    border-color:black;
	display:table-cell;
	float:left;
}

.button_header_menu:hover
{
    /*background-color:#90ee90;*/
    color:#90ee90;
    cursor:pointer;
}

.button_header_login
{
    height:40px;
    width:150px;
	float:right;
	background-color:black;
    color:white;
    cursor:pointer;
    border-color:black;
}

.button_header_login:hover
{
    /*background-color:#90ee90;*/
    color:#90ee90;
}

/* MAIN IDS AND CLASSES */

#menu 
{
    background-color:black;
    height:90px;
    width:1050px;
    padding-left:150px;
    margin:auto;
}

#main
{
	background-color:#2f3136;
	text-align:center;
	padding-top:110px;
	padding-bottom:20px;
	overflow:auto;
	padding-left:20px;
	padding-right:20px;
	width:845px;
	margin-top:10px;
	margin-left:7px;
	margin:7px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
	margin:auto;
}

::-webkit-scrollbar
{
    width:10px;
}

::-webkit-scrollbar-track
{
    background:#2a2a2a;
}

::-webkit-scrollbar-thumb
{
    background:white;
}

::-webkit-scrollbar-thumb:hover
{
    background: #656565;
}

a
{
    font-size:20px;
    text-decoration:none;
    color:#90ee90;
}
a:hover
{
    text-decoration:underline;
    color:#90ee90;
}

.a_table
{
    color:white;
}

.a_table:hover
{
    color:#90ee90;
}

table, tr, th, td
{
    text-align:center;
    padding:0px;
    color:white;
    border:solid white;
}

.color_white
{
    color:white;
}

.button_back{
	text-align:center;
    WIDTH:75px;
    cursor:pointer;
    border-radius:5px;
}

.button_back:hover
{
    background-color:#90ee90;
    color:black;
    cursor:pointer;
}

/* USER DROP-DOWN MENU */

#user_drop_down_menu
{
    width:150px;
	float:right;
	background-color:transparent;
    min-height:31px;
    overflow:auto;
}

#user_drop_down_menu_other_elements_logout
{
    padding-top:0px;
    height:40px;
    border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
}

.user_drop_down_menu_first_element
{
    height:40px;
    width:150px;
	float:right;
	background-color:black;
    color:white;
    cursor:pointer;
    border-color:black;
    margin:0px;
}

.user_drop_down_menu_first_element:hover
{
    /*background-color:#90ee90;*/
    color:#90ee90;
    text-decoration:none;
}

#user_drop_down_menu_block
{
    background-color:transparent;
    height:115px;
    width:150px;
	margin:auto;
	color:white;
    cursor:pointer;
    border-color:black;
    float:right;
    padding-bottom:5px;
    border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
}

.user_drop_down_menu_other_elements
{
    height:31px;
    padding-top:9px;
    width:150px;
	float:right;
	background-color:black;
    color:white;
    cursor:pointer;
    border-color:black;
    font-size:15px;
    border-size:0px;
}
.user_drop_down_menu_other_elements:hover
{
    /*background-color:#90ee90;*/
    color:#90ee90;
    text-decoration:none;
    border-color:black;
}

/* ADD FORMS */
@keyframes form_clear_button {
  from {background-color: rgba(255,255,255,0.07);}
  to {background-color: #db544b;color:black;}
}
@keyframes form_submit_button {
  from {background-color: rgba(255,255,255,0.07);}
  to {background-color: #90ee90;color:black;}
}
.form_box
{
    height: 520px;
    width: 400px;
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
    overflow:auto;
}

.form_box *
{
    font-family: 'Poppins',sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.form_box h3
{
    font-size: 50px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

.form_box label{
    display: block;
    font-size: 17px;
    font-weight: 500;
    text-align:left;
    margin-top:25px;
}

.form_box input, select{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    font-size: 14px;
    font-weight: 300;
    margin-top:8px;
}

.form_box button{
    margin-top: 50px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

.form_box input, select, button{
box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}

.button_form_submit:hover
{
    cursor:pointer;
    animation-name: form_submit_button;
    animation-duration: 0.5s;
}

.button_form_clear:hover
{
    cursor:pointer;
    animation-name: form_clear_button;
    animation-duration: 0.5s;
}

::placeholder{
    color: #e5e5e5;
}
/* LOGIN AND REGISTER */

#password_checkbox
{
    float:right;
}

.form_box_login
{
	overflow:auto;
	min-height:100px;
	background-color:#d3d3d3;
	text-align:left;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:20px;
	padding-right:20px;
	width:260px;
	margin-top:30px;
	margin-bottom:7px;
	margin:auto;
	color:black;
	position:relative;
	border-radius:5px 5px 0px 0px;
}

.form_box_login_bottom
{
	background-color:black;
	text-align:left;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:20px;
	padding-right:20px;
	width:260px;
	margin-top:0px;
	margin-bottom:7px;
	margin:auto;
	color:white;
	position:relative;
	border-radius:0px 0px 5px 5px;
}

.login_bottom_link
{
    font-size:14px;
}

/* USER PROFILE */

.user_profile_box
{
	color:white;
	overflow:auto;
	width:260px;
	min-height:100px;
	text-align:left;
	padding-top:30px;
	margin-left:150px;
	margin-top:7px;
	margin-bottom:7px;
	position:relative;
	border-radius:5px;
	padding-left:20px;
	padding-right:20px;
}

/* HOVER DROP-DOWN MENU */

/*
ol
{
	display:table-cell;
	width:150px;
	list-style-type:none;
	padding:0px;
	margin:0px;
	background-color:#FFF;
	font-size:20px;
	height:20px;
	line-height:35px;
	text-align:center;
}

ol a
{
	display:block;
	text-decoration:none;
	color:#000;
	padding-bottom:5px;
	padding-top:0px;
}

ol > li
{
	width:150px;
	background-color:#EEE;
	height:2em;
	color:white;
}

ol > li:first-child
{
	cursor:normal;
	background-color:black;
}

ol > li:first-child:hover
{
	background-color:#90ee90;
}

ol > li a:first-child
{
	color:white;
}

ol > li a:first-child:hover
{
	color:black;
}

ol > li:hover > ul {
	display:block;
}

ol > li > ul {
	display:none;
	list-style-type:none;
	padding:0;
	margin:0;
}

ol > li > ul > li{
	background-color:#000000;
}

ol > li > ul > li:hover {
	background-color:#90ee90;
}
*/
