{%extends "manager/base.html"%} {%block content%}
<div class="form_box">
	<FORM METHOD="post" ACTION="">
		<span style="float:left;">
			Event Date:
			<br>
				<INPUT TYPE="date" class="form_input" NAME="event_date" SIZE="7" MAXLENGTH="10">
			</br>	
			
			<br>
			
			Event Type:
			<br>
				<SELECT NAME="event_type" class="form_select">
					<option value="1">event_id</option>
					<option value="2">event_id</option>
					<option value="3">event_id</option>
				</SELECT>
			</br>
			
			<br>

			League:
			<br>
				<SELECT NAME="league" class="form_select">
					<option value="1">league_id</option>
					<option value="2">league_id</option>
					<option value="3">league_id</option>
				</SELECT>
			</br>
				
			<br>
	
			Team:
			<br>
				<SELECT NAME="team" class="form_select">
					<option value="1">team_id</option>
					<option value="2">team_id</option>
					<option value="3">team_id</option>
				</SELECT>
			</br>
				
			<br>
	
			Player:
			<br>
				<SELECT NAME="event_type" class="form_select">
					<option value="1">player_id</option>
					<option value="2">player_id</option>
					<option value="3">player_id</option>
				</SELECT>
			</br>
				
			<br>
	
			<input class="button_form_clear" TYPE="reset" VALUE="Clear">
			<input class="button_form_submit" TYPE="submit" VALUE="Submit">
		</span>
	</FORM>
</div>
{%endblock%}