<head>
    <title>F</title>
    <link rel="stylesheet" type="text/css" href="styl1007.css" />
    <meta charset="utf-8">

    <head>

        <body>
            <div id="header">
                <div id="menu">
                    <form action="1.html">
                        <input class="button3" type="submit" value="League Tables" />
                    </form>
                    <form action="2.html">
                        <input class="button3" type="submit" value="Other Tables" />
                    </form>
                    <form action="3.html">
                        <input class="button3" type="submit" value="Adding" />
                    </form>
                </div>
            </div>

            <div id="background">
                <div class="main">
                    <FORM METHOD="" ACTION="">
                        <a>League Name:</a>
                        <INPUT autocomplete="off" TYPE="text" NAME="league_name" SIZE="40" MAXLENGTH="40" style="float:right; border-radius: 2px;" placeholder="League Name">

                        <p>

                            <a>Maximal Number of Teams:</a>
                            <INPUT autocomplete="off" TYPE="text" NAME="number_of_teams" SIZE="1" MAXLENGTH="2" style="float:right; border-radius: 2px; text-align:center;" placeholder="00">

                            <p>

                                <input class="button2" TYPE="reset" VALUE="Clear"></input>
                                <input class="button" TYPE="submit" VALUE="Submit"></input>
                    </FORM>
                </div>

                <div class="main2">
                    <FORM METHOD="" ACTION="">
                        <a>Team Name:</a>
                        <INPUT autocomplete="off" TYPE="text" NAME="team_name" SIZE="40" MAXLENGTH="40" style="float:right; border-radius: 2px;" placeholder="Team Name">

                        <p>

                            <a>League:</a>
                            <SELECT NAME="league" style="float:right; border-radius: 2px; cursor:pointer;">
					<option>League Name</option>
				</SELECT>

                            <p>

                                <a>Maximal Number of Players:</a>
                                <INPUT autocomplete="off" TYPE="text" NAME="number_of_teams" SIZE="1" MAXLENGTH="2" style="float:right; border-radius: 2px; text-align:center;" placeholder="00">

                                <p>
                                    <input class="button2" TYPE="reset" VALUE="  Clear  "></input>
                                    <input class="button" TYPE="submit" VALUE="  Submit  "></input>
                    </FORM>
                </div>

                <div class="main">
                    <FORM METHOD="" ACTION="">
                        <a>Player Nick:</a>
                        <INPUT autocomplete="off" TYPE="text" NAME="nick" SIZE="40" MAXLENGTH="60" style="float:right; border-radius: 2px;" placeholder="Player Nick">

                        <p>

                            <a>Team:</a>
                            <SELECT NAME="team" style="float:right; border-radius: 2px; cursor:pointer;">
					<option>Team Name</option>
				</SELECT>

                            <p>

                                <input class="button2" TYPE="reset" VALUE="  Clear  "></input>
                                <input class="button" TYPE="submit" VALUE="  Submit  "></input>
                    </FORM>
                </div>

                <div class="main3">
                    <FORM METHOD="" ACTION="">
                        <a>Team 1:</a>
                        <SELECT NAME="team" style="float:right; border-radius: 2px; cursor:pointer;">
					<option>Team Name</option>
				</SELECT>

                        <p>

                            <a>Team 2:</a>
                            <SELECT NAME="team" style="float:right; border-radius: 2px; cursor:pointer;">
					<option>Team Name</option>
				</SELECT>

                            <p>

                                <a>Number of Goals For Team 1:</a>
                                <INPUT autocomplete="off" TYPE="text" NAME="number_of_teams" SIZE="1" MAXLENGTH="2" style="float:right; border-radius: 2px; text-align:center;" placeholder="00">

                                <p>

                                    <a>Number of Goals For Team 2:</a>
                                    <INPUT autocomplete="off" TYPE="text" NAME="number_of_teams" SIZE="1" MAXLENGTH="2" style="float:right; border-radius: 2px; text-align:center;" placeholder="00">

                                    <p>

                                        <input class="button2" TYPE="reset" VALUE="  Clear  "></input>
                                        <input class="button" TYPE="submit" VALUE="  Submit  "></input>
                    </FORM>
                </div>

                <div class="main4">
                    <FORM METHOD="" ACTION="">
                        <a>Match:</a>
                        <SELECT NAME="match_id" style="float:right; border-radius: 2px; cursor:pointer;">
					<option>Match ID</option>
				</SELECT>

                        <p>

                            <a>Player:</a>
                            <SELECT NAME="player_nick" style="float:right; border-radius: 2px; cursor:pointer;">
					<option>Player Nick</option>
				</SELECT>

                            <p>

                                <a>Number of Goals:</a>
                                <INPUT autocomplete="off" TYPE="text" NAME="number_of_teams" SIZE="1" MAXLENGTH="2" style="float:right; border-radius: 2px; text-align:center;" placeholder="00">

                                <p>

                                    <a>Yellow Card:</a>
                                    <SELECT NAME="yellow_card" style="float:right; border-radius: 2px; cursor:pointer;">
					<option value="0">No</option>
					<option value="1">Yes</option>
				</SELECT>
                                    <p>

                                        <a>Red Card:</a>
                                        <SELECT NAME="red_card" style="float:right; border-radius: 2px; cursor:pointer;">
					<option value="0">No</option>
					<option value="1">Yes</option>
				</SELECT>

                                        <p>

                                            <input class="button2" TYPE="reset" VALUE="  Clear  "></input>
                                            <input class="button" TYPE="submit" VALUE="  Submit  "></input>
                    </FORM>
                </div>
            </div>
        </body>