{%extends "manager/base.html"%} {%block content%}
<div class="form_box">
	<FORM METHOD="" ACTION="">
		<span style="float:left;">
			League Name:
			<br>
				<INPUT autocomplete="off" TYPE="text" NAME="league_name" SIZE="40" MAXLENGTH="40" class="form_input" placeholder="League Name">
			</br>
				
			<br></br>

			Maximal Number of Teams:
			<br>
				<INPUT autocomplete="off" TYPE="number" NAME="number_of_teams" SIZE="1" MAXLENGTH="2" class="form_input" placeholder="00">
			</br>
				
			<br></br>
				
			<input class="button_form_clear" TYPE="reset" VALUE="Clear"></input>
			<input class="button_form_submit" TYPE="submit" VALUE="Submit"></input>
		</span>
	</FORM>
</div>
{%endblock%}