{%extends "manager/base.html"%} {%block content%}
{%load custom_tags%}
<table>
    <tr>
        <th>List of all add_forms</th>
    </tr>
    {% if request.user|group:"Judges" %}
    <tr>
        <td><a class="a_table" href="add_event">Event</a></td>
    </tr>
    {% endif %}
    <tr>
        <td><a class="a_table" href="add_league">League</a></td>
    </tr>

    {% if user.is_authenticated %}
    <tr>
        <td><a class="a_table" href="add_match">Match</a></td>
    </tr>
    {% endif %}
    <tr>
        <td><a class="a_table" href="add_player">Player</a></td>
    </tr>
    <tr>
        <td><a class="a_table" href="add_team">Team</a></td>
    </tr>
</table>
{%endblock%}
