<!--
AUTHORISATION:
Admin, Judge
-->
{%extends "manager/base.html"%} {%block content%}
<table>
    <tr>
        <th>List of all add_forms</th>
    </tr>
    <tr>
        <td><a class="a_table" href="add_event">Event</a></td>
    </tr>
    <tr>
        <td><a class="a_table" href="add_league">League</a></td>
    </tr>
    <tr>
        <td><a class="a_table" href="add_match">Match</a></td>
    </tr>
    <tr>
        <td><a class="a_table" href="add_player">Player</a></td>
    </tr>
    <tr>
        <td><a class="a_table" href="add_team">Team</a></td>
    </tr>
</table>
{%endblock%}