<!--
AUTHORISATION:
Admin, Referee
-->
{%extends "manager/base.html"%} {%block content%}
<div class="form_box">
	<FORM METHOD="" ACTION="">
		<label>Match:</label>
		<br>
			<SELECT NAME="match_id" class="form_select">
				<option>match_id</option>
			</SELECT>
		</br>
	
		<br></br>
		
		<label>Player:</label>
		<br>
			<SELECT NAME="player_nick" class="form_select">
				<option>player_id</option>
			</SELECT>
		</br>
	
		<br></br>
		
		Number of Goals:
		<br>
			<INPUT autocomplete="off" TYPE="number" NAME="number_of_teams" SIZE="1" MAXLENGTH="2" class="form_input" placeholder="00">
		</br>
	
		<br></br>
		
		Yellow Card:
		<br>
			<SELECT NAME="yellow_card" class="form_select">
				<option value="0">No</option>
				<option value="1">Yes</option>
			</SELECT>
		</br>	
	
		<br></br>
		
		Red Card:
		<br>	
			<SELECT NAME="red_card" class="form_select">
				<option value="0">No</option>
				<option value="1">Yes</option>
			</SELECT>
		</br>
	
		<br></br>
		
		<input class="button_form_clear" TYPE="reset" VALUE="Clear"></input>				
		<input class="button_form_submit" TYPE="submit" VALUE="Submit"></input>
	</FORM>
</div>
{%endblock%}