{%extends "manager/base.html"%} {%block content%}
<div class="form_box">
	<FORM METHOD="" ACTION="">
		Match:
		<br>
			<SELECT NAME="match_id" class="form_select">
				<option>match_id</option>
			</SELECT>
		<br>
		<br>
		Player:
		<br>
			<SELECT NAME="player_nick" class="form_select">
				<option>player_id</option>
			</SELECT>
		<br>
		<br>
		Number of Goals:
		<br>
			<INPUT autocomplete="off" TYPE="number" NAME="number_of_teams" SIZE="1" MAXLENGTH="2" class="form_input" placeholder="00">
		<br>
		<br>
		Yellow Card(3rd card is rare exception):
		<br>
			<SELECT NAME="yellow_card" class="form_select">
				<option value="0">No</option>
				<option value="1">One</option>
				<option value="2">Two</option>
				<option value="3">Three</option>
			</SELECT>
		<br>
		<br>
		Red Card:
		<br>	
			<SELECT NAME="red_card" class="form_select">
				<option value="0">No</option>
				<option value="1">Yes</option>
			</SELECT>
		<br>
		<input class="button_form_clear" TYPE="reset" VALUE="Clear">
		<input class="button_form_submit" TYPE="submit" VALUE="Submit">
	</FORM>
</div>
{%endblock%}