{% load static %}

<html lang="en">
<head>
    <title>F</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <meta charset="utf-8">
</head>
<body>
    <div id="header">
        <div id="menu">
            <form action="/" class="button_header_menu">
                <input class="button_header_menu" type="submit" value="Główna"/>
            </form>
            <form action="add_forms" class="button_header_menu">
                <input class="button_header_menu" type="submit" value="Dodawanie" />
            </form>
            <form action="view" class="button_header_menu">
                <input class="button_header_menu" type="submit" value="Przeglądanie" />
            </form>
            <div id="user_login_menu">
			    <ol>
			        <li><a>User</a>
			            <ul>
                            <li><a href="login">Login</a></li>
			                <li><a href="register">Register</a></li>
			            </ul>
			        </li>
			    </ol>
			</div>
	    </div>
    </div>

    <div id="main">
        {%block content%} {%endblock%}
    </div>
</body>
</html>