<!--
AUTHORISATION:
Admin, Referee, Logged_User
-->
{%extends "manager/base.html"%} {%block content%}
Details about event #{{event.id}}
<table>
    <tr>
        <th>id</th>
        <th>{{event.id}</th>
    </tr>
    <tr>
        <th>time</th>
        <th>{{event.time}}</th>
    </tr>
    <tr>
        <td>player</td>
        <td>{{event.player}}</td>
    </tr>
    <tr>
        <td>event_type</td>
        <td>{{event.event_type}}</td>
    </tr>
    <tr>
        <td>match</td>
        <td>{{event.match}}</td>
    </tr>
</table>
{%endblock%}