<!--
AUTHORISATION:
Admin, Judge, Logged_User
-->
{%extends "manager/base.html"%} {%block content%}
<h1>Details about {{league.name}}</h1>
<table>
    <tr>
        <th>id</th>
        <th>{{league.id}}</th>
    </tr>
    <tr>
        <td>name</td>
        <td>{{league.name}}</td>
    </tr>
    <tr>
        <td>max_number_of_teams</td>
        <td>
            Current teams: {{league.teams_number}}/{{league.max_number_of_teams}}
            {%for team in league.team_set.all%}
            <p><a href="{%url 'team_details' team.id%}">{{team.team_name}}</a></p>
            {%empty%}
            None
            {%endfor%}
        </td>
    </tr>
    <tr>
        <td>points_for_win</td>
        <td>{{league.points_for_win}}</td>
    </tr>
    <tr>
        <td>points_for_lost</td>
        <td>{{league.points_for_lost}}</td>
    </tr>
    <tr>
        <td>points_for_draw</td>
        <td>{{league.points_for_draw}}</td>
    </tr>
    <tr>
        <td>teams_number</td>
        <td>{{league.teams_number}}</td>
    </tr>
    <tr>
        <td>all_matches</td>
        <td>{{league.all_matches}}</td>
    </tr>
    <tr>
        <td>played_matches</td>
        <td>{{league.played_matches}}</td>
    </tr>
    <tr>
        <td>is_ended</td>
        <td>{{league.is_ended}}</td>
    </tr>
    <tr>
        <td>winner</td>
        <td><a href="{%url 'team_details' league.league_winner.id%}">{{league.league_winner.team_name}}</a></td>
    </tr>
</table>
{%endblock%}