{%extends "manager/base.html"%} {%block content%}
<h1>Go to <a href="/leagues">League List</a></h1>
<h1>Details about {{league.name}}</h1>
<table>
    <tr>
        <th>Id</th>
        <th>{{league.id}}</th>
    </tr>
    <tr>
        <td>Name</td>
        <td>{{league.name}}</td>
    </tr>
    <tr>
        <td>Teams</td>
        <td>
            Current teams: {{league.teams_number}}/{{league.max_number_of_teams}}
            {%for team in league.team_set.all%}
            <p><a href="{%url 'team_details' team.id%}">{{team.team_name}}</a></p>
            {%empty%}
            None
            {%endfor%}
        </td>
    </tr>
    <tr>
        <td>
            Points For:
        </td>
        <td>
            <p>Winning: {{league.points_for_win}}</p>
            <p>Drawing: {{league.points_for_lost}}</p>
            <p>Losing: {{league.points_for_draw}}</p>
        </td>
    </tr>
    <tr>
        <td>Matches Played</td>
        <td>
            Matches played: {{league.match_set.all|length}}
            {%for match in league.match_set.all%}
            <p><a href="{%url 'match_details' match.id%}">Match #{{match.id}} (ID)</a></p>
            {%empty%}
            None
            {%endfor%}
        </td>
    </tr>
    <tr>
        <td>Is Over</td>
        <td>{{league.is_ended}}</td>
    </tr>
    <tr>
        <td>Winner</td>
        <td><a href="{%url 'team_details' league.league_winner.id%}">{{league.league_winner.team_name}}</a></td>
    </tr>
</table>
{%endblock%}