<!--
AUTHORISATION:
Everyone
-->
{%extends "manager/base.html"%} {%block content%}
	<div class="form_box_login">
		<FORM METHOD="#" ACTION="#">
			<span style="float:left;">
				<label>Username:</label>
				<br>
					<INPUT TYPE="login" class="form_input" NAME="event_date" SIZE="7" MAXLENGTH="10">
				</br>
			
				<br></br>	
			
				<label>Password:</label>
				<br>
					<INPUT TYPE="password" class="form_input" NAME="event_date" SIZE="7" MAXLENGTH="20">
				</br>
			
				<br></br>
			
				<label>Password:</label>
				<br>
					<INPUT TYPE="password" class="form_input" NAME="event_date" SIZE="7" MAXLENGTH="20">
				</br>
			
				<br></br>
				
				<input class="button_form_submit" TYPE="submit" VALUE="register"></input>
			</span>
		</FORM>
	</div>
{%endblock%}