{%extends "manager/base.html"%} {%block content%}
Details about {{team.team_name}}
<table>
    <tr>
        <th>id</th>
        <th>{{team.id}}</th>
    </tr>
    <tr>
        <td>matches_won</td>
        <td>{{team.matches_won}}</td>
    </tr>
    <tr>
        <td>matches_draw</td>
        <td>{{team.matches_draw}}</td>
    </tr>
    <tr>
        <td>matches_lost</td>
        <td>{{team.matches_lost}}</td>
    </tr>
    <tr>
        <td>league</td>
        <td>{{team.league}}</td>
    </tr>
    <tr>
        <td>sum_of_points</td>
        <td>{{team.sum_of_points}}</td>
    </tr>
    <tr>
        <td>matches_team_played</td>
        <td>{{team.matches_team_played}}</td>
    </tr>
</table>
{%endblock%}