{%extends "manager/base.html"%} {%block content%}
<h1>Go to <a href="/teams">Team List</a></h1>
<h1>Details about {{team.team_name}}</h1>
<table>
    <tr>
        <th>Id</th>
        <th>{{team.id}}</th>
    </tr>
    <tr>
        <td>Wins/Draws/Loses</td>
        <td>{{team.number_of_matches_won}}/{{team.number_of_matches_drawn}}/{{team.number_of_matches_lost}}</td>
    </tr>
    <tr>
        <td>League</td>
        <td><a href="{%url 'league_details' team.league.id%}">{{team.league.name}}</a></td>
    </tr>
    <tr>
        <td>Players</td>
        <td>
            Current players: {{team.teamplayer_set.all|length}}/{{team.MAX_NUMBER_OF_PLAYERS}}
            {%for player in team.teamplayer_set.all%}
            <p><a href="{%url 'player_details' player.id%}">{{player.player_nick}}</a></p>
            {%empty%}
            None
            {%endfor%}
        </td>
    </tr>
    <tr>
        <td>Points</td>
        <td>{{team.sum_of_points}}</td>
    </tr>
    <tr>
        <td>Matches played</td>
        <td>{{team.matches_team_played}}</td>
    </tr>
</table>
{%endblock%}