{%extends "manager/base.html"%} {%block content%}
<h1>List of teams</h1>
<table>
    <tr>
        <th>Name</th>
        <th>Wins/Draws/Losses</th>
        <th>League</th>
        <th>Matches played</th>
        <th>Players</th>
        <th>Points</th>
    </tr>
    {%for team in object_list%}
    <tr>
        <td><a class="a_table" href="{%url 'team_details' team.id%}">{{team.team_name}}</a></td>
        <td>{{team.number_of_matches_won}}/{{team.number_of_matches_drawn}}/{{team.number_of_matches_lost}}</td>
        <!-- TODO wypisac graczy poprawnie -->
        <td><a class="a_table" href="{%url 'league_details' team.league.id%}">{{team.league.name}}</a></td>
        <td>{{team.matches_team_played}}</td>
        <td>
            Current players: {{team.teamplayer_set.all|length}}/{{team.MAX_NUMBER_OF_PLAYERS}}
            {%for player in team.teamplayer_set.all%}
            <p><a href="{%url 'player_details' player.id%}">{{player.player_nick}}</a></p>
            {%empty%}
            None
            {%endfor%}
            </td>
        <td>{{team.sum_of_points}}</td>
    </tr>
    </a>
    {%empty%}
    <tr>
        <td>No teams found</td>
    </tr>
    {%endfor%}
</table>
<h1><a href="/add_team">Add a new Team</a></h1>
{%endblock%}